
html, body {
  margin:0;
  padding:0;
  overflow:hidden;
  height: 100%;
  background:#222;
  text-align:center;  
  font-family:"Verdana";
  color: #fff;
}

/* Make text unselectable by default.
   Any selectable text needs to be
   explicitly identified.
*/
body * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

section {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

section.active {
  display: block;
}

.editable {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* <INDEX */

  #index {
    background-color: #669;
  }

  #index > div {

  }

  #index > div div {

  }

  #index span {
    box-sizing: border-box;
    display: inline-block;

    font-size: 12vmin;
    width: 16vmin;
    height: 16vmin;
    line-height: 16vmin; /* centres text vertically */
    text-align: center;

    color: #669;
    background-color: #77a;
    border: 1px solid #ccf;
    border-radius: 0.2em;
    border-color: #669;

    cursor: default;
  }

  #index span.enabled {
    color: #99c;
    background-color: #669;
    border-color: #ccf;
    border-right-color: #558;
    border-bottom-color: #558;

    cursor: pointer;
  }

  #index:not(.ignore-rollover) span.enabled:not(.selected):hover {
    border-color: #fff;
    border-right-color: #336;
    border-bottom-color: #336;
    color: #ccf;
  }

  #index span.selected {
    border-color: #669;
    border-right-color: #ccf;
    border-bottom-color: #ccf;
    background-color: #336;
    color: #fff;
  }

  #index span.dimmed {
    border-color: #88b;
    border-right-color: #aad;
    border-bottom-color: #aad;
    background-color: #558;
    color: #bbe;
  }

  #index span.pressed {
    border-color: #669;
    border-right-color: #ccf;
    border-bottom-color: #ccf;
    background-color: #336;
    color: #ccf;
  }
/* INDEX> */



/* <ACTIVITY */
section#activity.active {
  background-color: #696;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#activity div.display{
  /*background-color: #464;*/
  flex: 8;
  display: flex;
}

    #activity div.image{
      background-size: contain;
      background-image: url('../img/Б/girl.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    #activity div.video {
      background-size: contain;
      background-image: url('../img/Б/fencing.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    #activity div.display div {
      flex: 1;
    }

#activity div.phrase {
  font-size: 4vh;
  flex: 1;
  display: flex;
  justify-content: center;
}

  #activity div.phrase span{
    margin: 0;
    font-weight: bold;

    color: #000;
    /*text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);*/
  }

  #activity div.phrase span.active{   
    background-color: #000;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }

div.controls {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

    div.toolbar {
      width: 100%;
      flex: 3;
      display: flex;
      justify-content: space-around;
    }
        #activity button{
          height: 100%;
          flex: 1;
          font-size: 3vw
        }

        #activity button:disabled{
          opacity: 0.5;
        }

        #activity button:nth-child(3){
          flex: 3;
        }

    div.progress {
      width: 100%;
      flex: 1;
      background-color: #343;
      position: relative;
    }

        div.progress div.done {
          background-color: #464;
          width: 33%;
          height: 100%;
        }

        #activity div.progress p {
          font-size: 2vh;
          position: absolute;
          right: 0;
          top: 0;
        }

@media screen and (orientation: portrait) {
  #activity div.display{
    flex-direction: column;
  }

  #activity div.phrase {
    font-size: 2.5vh;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  #activity div.phrase{
    align-items: flex-start;
  }
}
/* ACTIVITY> */